{% extends 'shared/layout.html' %}
{% load static %}
{% block h3 %}
  Anon Ticket
{% endblock %}
{% block subheader %} 
  Generate an Anonymous Identifier
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <p> Tor's anonymous GitLab ticketing system uses code-phrase user identifer composed of 
        six words randomly chosen from a dictionary.</p>
      <p>A code-phrase has been generated for you below. If you don't like this identifer 
        and want a different one, you can <a href="{% url 'create-identifier' %}">reload the page</a>,
      and another identifier will be generated for you.</p>
      <p>When you have a code-phrase you like, make sure to <mark>save</mark> the below code-phrase somewhere. 
        A lost code-phrase <mark>cannot be looked up.</mark></p>
      <p>Identifier code-phrases are not saved in the database until either an issue or comment is opened.</p>
    </div>
  </div>
  <div class="row justify-content-center bg-light p-1 mt-3 mb-3 ml-3 mr-3">
    {% for word in chosen_words %}
      <div class="col-auto p-2">
        {{word}}
      </div>
    {% endfor %}
  </div>
  <div class="row justify-content-start">
    <form action="{% url 'create-identifier' %}" class="col-sm-auto mt-2">
      <button type="submit" class="btn btn-lg btn-primary mr-2">
        Choose a Different Identifier
      </button>
    </form>
    <!-- Generate the user_login_link on the fly -->
    {% url 'user-landing' user_identifier_string as login_url %}
    <form action="{{login_url}}" class="col-sm-auto mt-2 ml-2">
      <button type="submit" class="btn btn-lg btn-primary mr-2">
        Login With This Identifier
      </button>
    </form>
  </div>
{% endblock %}