{% extends 'shared/layout.html' %}
{% load static %}
{% block h3 %}
  Anon Ticket
{% endblock %}
{% block subheader %} 
  Anonymous Ticket Reporting for GitLab
{% endblock %}

{% block content %}
  <ul>
      <li>
          <a href="{% url 'create-identifier' %}">
            Create an Identifier.</a>
          </a>
      </li>
      <li>
        <a href="{% url 'login' %}">
          Enter an Identifier</a> to access other system functions, such as creating a new issue.
      </li>
  </ul>
{% endblock %}