{% extends 'shared/layout.html' %}
{% load static %}
{% block h3 %}
  Anon Ticket
{% endblock %}
{% block subheader %} 
  Anonymous Ticket Reporting for GitLab
{% endblock %}

{% block content %}
<p>Welcome to Tor's Anonymous Issue Reporting system for GitLab.</p>
<p>This interface allows
  Tor users to report bugs and issues anonymous through the usage of code-phrases made of
  common words.</p>
  <p>
    To get started, create a user-identifier code phrase below. This process
    is instant and requires no data from you.</p>
  <p>
     Once you've created a user identifier, you must write it down or save it if you 
     want to be able to login and update the issue later, or you can bookmark the 
     user identifier's landing page.
  </p>
</div>
</div>
<div class="row">
  <div class="col-12 mt-4">
    <a href="{% url 'create-identifier' %}" class="btn btn-large btn-primary mr-4">
      CREATE NEW IDENTIFIER</a>
    </a>
    <a href="{% url 'login' %}" class="btn btn-large btn-primary mr-2">
     LOGIN WITH PREVIOUS IDENTIFIER</a>
  </div>
</div>
{% endblock %}