{% extends 'shared/layout.html' %}
{% load static %}
{% block h3 %}
  Anon Ticket
{% endblock %}
{% block subheader %} 
  Search for an issue on GitLab with a given issue_iid
{% endblock %}
<!-- Extra links block for pages that have a user_identifier piped to them.-->
{% block extra_links %}
  {% include 'shared/extend_sidebar.html' %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <form method="get" class="bg-light p-5">
        {{ form.as_p }}
        <button type="submit" class="btn btn-lg btn-primary mr-2">search</button>
      </form>
      {% if results.status %}
        <hr>
        <h3>Result of this lookup was: {{results.status|title}}</h3>
        <p>{{results.message}}</p>
        <h4>Project Details</h4>
        {% if results.project_name %}
        <ul>
          <li>Project Name: {{results.project_name}}</li>
          <li>Project Description: {{results.project_description}}</li>
        </ul>
        {% endif %}
        {% if results.matching_issues %}
        <h4>Issues Matching Your Search String</h4>
        <ul>
          {% for issue in results.matching_issues %}
            {% url 'issue-detail-view' results.user_identifier issue.project_id issue.iid as issue_url %}
          <li><a href="{{issue_url}}">{{issue.title}}</a></li>
          {% endfor %}
        </ul>
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}