{% extends 'shared/layout.html' %}
{% load static %}
{% block h3 %}
  Anon Ticket
{% endblock %}
{% block subheader %} 
  Detailed Issue View for Issue: "{{results.issue.title|capfirst}}"
{% endblock %}

{% block content %}
<!-- Issue Summary Block -->
{% if results.issue %}
  <div class="row">
    <div class="col-12 p-2">
        <h4 class="card-title">Issue Summary</h4>
        <ul>
          <li><span class="text-muted">Title:</span> {{results.issue.title|capfirst}}</li>
          <li><span class="text-muted">Description:</span> "{{results.issue.description}}"</li>
          <li><span class="text-muted">Created At:</span> {{results.issue.created_at}}</li>
          <li><span class="text-muted">State:</span> {{results.issue.state|title}}</li>
          {% if results.issue.milestone %}
          <li><span class="text-muted">Milestone:</span> {{results.issue.milestone.title}}</li>
          {% endif %}
          {% if results.issue.assignee %}
          <li><span class="text-muted">Assignee:</span> {{results.issue.assignee.username}}</li>
          {% endif %}
          <li><span class="text-muted">Due Date:</span> {{results.issue.due_date}}</li>
          <li><span class="text-muted">Labels:</span>
            {% for label in results.issue.labels %}
              {{label}}.
            {% endfor %}</li>
          <li><span class="text-muted">Last Updated:</span> {{results.issue.updated_at}}</li>
        </ul>
    </div>
  </div>
{% endif %}
<!-- Issue Project Summary Block -->
{% if results.project %}
  <div class="row">
    <div class="col-12 p-2">
      <h4 class="card-title">Associated Project</h4>
      <ul>
        <li><span class="text-muted">Project Name:</span> {{results.project.name_with_namespace}}</li>
        <li><span class="text-muted">Project Description:</span> {{results.project.description}}</li>
      </ul>
    </div>
  </div>
{% endif %}
{% if results.notes %}
<div class="row">
  <div class="col-12 p-2">
    <h4 class="card-title">Project Notes</h4>
  </div>
</div>
  <div class="p2 bg-light">
    {% for note in results.notes %}
    <div class="row">
      <div class="col-12 p-2">
        <div class="card mb-2">
          <div class="card-body">
            <p class="card-text">{{note.noteable_type|title}} note by @{{note.author.username}}, Created: {{note.created_at}}, Last Updated: {{note.updated_at}}</p>
            <p class="card-text">{{note.body}}</p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endif %}
{% endblock %}