{% extends 'shared/layout.html' %}
{% load static %}
{% block h3 %}
  Anon Ticket
{% endblock %}
{% block subheader %} 
  Items Awaiting Staff Moderation
  <p>
    The following items below are pending and awaiting staff moderation.
    You can approve and/or reject multiple items at once by
    changing status fields in the right-hand column
    to "approved" or "rejected" and  then clicking on the 
    <span class="btn btn-primary p-1 mr-1 ml-1">Save All Changes</span>
    button at the bottom.
  </p>
  <p>
    You also can change the details of individual notes/issues by clicking 
    the <span class="btn btn-primary p-1 mr-1 ml-1">Change Note Text</span> or 
    <span class="btn btn-primary p-1 mr-1 ml-1">Change Issue Text</span> buttons; 
    note that 
    you will lose pending status changes if you perform this action 
    before the form posts.
  </p>
{% endblock %}
<!-- Extra links block for pages that have a user_identifier piped to them.-->
{% block extra_links %}
  {% include 'shared/extend_sidebar.html' %}
{% endblock %}

<!-- Start Content Block -->
<!-- Start Issues Block -->
{% block content %}

<div class="row">
  <div class="col-12 mt-3">
    <form method="post" action="/moderator/">
      {% csrf_token %}
    <h2>Pending Issues</h2>
    <!-- If there are pending issues, render them here. -->
      {% if issue_formset %}
      {{ issue_formset.management_form }}
      {% endif %}
      {% if issue_formset.forms %}
          <table>
            <thead>
              <th>
                Related Details
              </th>
              <th>
                Issue Details and Comments
              </th>
              <th>
                Mod Actions
              </th>
            </thead>
            <tbody>
            {% for form in issue_formset %}
              {% for hidden in form.hidden_fields %}
              {{ hidden }}
              {% endfor %}
              <tr>
                <td>
                  <ul class="list-unstyled">
                    <li>Project: {{form.instance.linked_project}}</li>
                    <li>User: {{form.instance.linked_user}}</li>
                    <li>Issue Title: {{form.instance.title}}</li>
                    <li>Created At: {{form.instance.created_at|date:"d M, Y" }} 
                      -{{form.instance.created_at|time:"H:i" }}</li>
                  </ul>
                </td>
                <td style="width:50%">{{form.instance.description}}</td>
                <td>
                  <div>
                    Set Issue Status:
                  </div>
                  <div class="mt-2">
                    {{form.reviewer_status}}
                  </div>
                  <div class="mt-3">
                    <a href="{% url 'mod-update-issue' form.instance.pk %}"
                    class="btn btn-large btn-primary">Change Issue Text</a>
                  </div>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        <!-- If user was not in moderators group, issue_formset dictionary will have permission message. -->
        {% elif messages %}
          <p>{{messages.issue_message}}</p>
        <!-- If user was in moderators group, but there are no issues, display no issues message. -->
        {% else %}
        <p>No pending issues at this time.</p>
        {% endif %}
    </div>
  </div>
<!-- End Issues Block -->
<!-- Start Notes Block -->
<!-- Render Notes Table -->
<div class="row">
  <div class="col-12 mt-3">
    <h2>Pending Notes</h2>
      <!-- If there are pending notes, render them here. -->
      {% if note_formset %}
      {{ note_formset.management_form }}
      {% endif %}
      {% if note_formset.forms %}
        <table>
          <thead>
            <th>
              Related Details 
            </th>
            <th>
              Note Details and Comments
            </th>
            <th>
              Mod Actions
            </th>
          </thead>
          {% for form in note_formset %}
            {% for hidden in form.hidden_fields %}
              {{ hidden }}
            {% endfor %}
          <tr>
            <td>
              <ul>
                <li>Project: {{form.instance.linked_project}}</li>
                <li>Linked Issue: {{form.instance.gitlab_issue_title}}</li>
                <li>User: {{form.instance.linked_user}}</li>
              </ul>
            </td>
            <td style="width: 50%">
              {{form.instance.body}}
            </td>
            <td>
              <div>
                Set Note Status:
              </div>
              <div class="mt-3">
                {{form.reviewer_status}}
              </div>
              <div class="mt-3">
                <a href="{% url 'mod-update-note' form.instance.pk %}"
                class="btn btn-large btn-primary">Change Note Text</a>
              </div>
            </td>
          </tr>
          {% endfor %}
        </table>
<!-- If user was not in moderators group, issue_formset dictionary will have permission message. -->
      {% elif messages %}
      <p>{{messages.note_message}}</p>
<!-- If user was in moderators group, but there are no issues, display no issues message. -->
      {% else %}
      <p>No Pending Notes at this Time.</p>
      {% endif %}
    </div>
  </div>
<div class="row">
  <div class="col-12">
    <button type="submit" class="btn btn-lg btn-primary mr-2">Save All Changes</button>
    </form>
  </div>
</div>
{% endblock %}
