{% extends 'shared/layout.html' %}
{% load static %}
{% block h3 %}
  Anon Ticket
{% endblock %}
{% block subheader %} 
  Items Awaiting Staff Moderation
{% endblock %}
<!-- Extra links block for pages that have a user_identifier piped to them.-->
{% block extra_links %}
  {% include 'shared/extend_sidebar.html' %}
{% endblock %}

<!-- Start Content Block -->
<!-- Start Issues Block -->
{% block content %}

<div class="row">
  <div class="col-12">
    <form method="post" action="/moderator/">
      {% csrf_token %}
    <h2>Pending Issues</h2>
    <!-- If there are pending issues, render them here. -->
      {% if issue_formset %}
        {{ issue_formset.management_form }}

{% for form in issue_formset %}
    {{ form }}
{% endfor %}
{% endif %}
    </div>
  </div>
<!-- End Issues Block -->
<!-- Start Notes Block -->
<!-- Render Notes Table -->
<div class="row">
  <div class="col-12">
    <h2>Pending Notes</h2>
      <!-- If there are pending notes, render them here. -->
      {% if note_formset %}
      {{ note_formset.management_form }}
     
      {% for form in note_formset %}
          {{ form }}
      {% endfor %}
      {% endif %}
    </div>
  </div>
<div class="row">
  <div class="col-12">
    <button type="submit" class="btn btn-lg btn-primary mr-2">Make Changes</button>
    </form>
  </div>
</div>
{% endblock %}
