{% extends 'shared/layout.html' %}
{% load static %}
{% block h3 %}
  Anon Ticket
{% endblock %}
{% block subheader %} 
  Update an existing note
{% endblock %}
<!-- Extra links block for pages that have a user_identifier piped to them.-->
{% block extra_links %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-12">
    <p class="p-3">
      You can use this form to update the body of an existing note. 
      <a href="https://docs.gitlab.com/ee/user/markdown.html" 
      target="_blank">Gitlab Flavored Markdown (GFM)</a> is supported
      on this form.
    </p>
    <p class="p-3">
      If you've changed your mind, you can cancel and go back to
      the <a href="{% url 'moderator' %}">moderator panel</a>.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <form class="bg-light p-4 form-control ml-3 mr-3" method="POST">
      {% csrf_token %}
      <!--Loop over form fields, allowing for custom styling. Help-text 
      and custom labels/descriptions are taken from forms.py-->
      {% for field in form %}
        <div class="fieldWrapper form-group">
          {{ field.errors }}
          <div class="row">
            <div class="col-12">
              <div class="mb-0">{{ field.label_tag }}</div>
            </div>
          </div>

          {% if field.help_text %}
          <div class="row">
            <div class="col-12">
              <div class="help small p-0 text-muted mb-2">
                {{ field.help_text|safe }}
              </div>
            </div>
          </div>
          {% endif %}

          <div class="row">
            <div class="col-12">
              <div class="flex-form mb-3">{{ field }}</div>
            </div>
          </div>
        </div>
      {% endfor %}
      <button type="submit" value="Update" class="btn btn-lg btn-primary mr-2">Update Note</button>
    </form>
  </div>
</div>
{% endblock %}
