{% extends 'shared/layout.html' %}
{% load static %}
<!-- Load custom filters from shared app, including ISO 8901 Date-Time Converter -->
{% load custom_filters %}
<!-- Load markdownify -->
{% load markdownify %}
<!-- Start Page Render -->
<!-- Extra links block for pages that have a user_identifier piped to them.-->
{% block extra_links %}
  {% include 'shared/extend_sidebar.html' %}
{% endblock %}

{% block h3 %}
{{object.name_with_namespace}} ({{object.gitlab_id}})
{% endblock %}

{% block subheader %} 
  Project Detail for {{object.name}}</p>
{% endblock %}

{% block content %}
<!-- Create the Issues List Block -->
{% if issues_list %}
<p>{% for issue in issues_list %}
  {% url 'issue-detail-view' results.user_identifier object.gitlab_id issue.iid as detail_url %}
  <a href="{{detail_url}}">{{issue.title}}</a>
</p>
{% endfor %}
{% else %}
no issues
{% endif %}

<!-- Generate a Back to Landing URL Link -->
{% url 'user-landing' results.user_identifier as go_back_url %}
<div>
  <p>
    <a href="{{go_back_url}}">Go Back to User Landing Page</a>
  </p>
</div>
{% endblock %}