{% extends 'shared/layout.html' %}
***If you're seeing this, the base template has been extended.***
{% block content %}
  <h2>Find a GitLab Ticket by ID</h2>
  ***Note, you can only search for tickets the anonymous interface would have
  access to--e.g., no secret tickets, etc.***

  ***This form is a temporary/in-between form used during development only.***
  
  <form method="get">
    {{ form.as_p }}
    <button type="submit">search</button>
  </form>

  {% if results %}
    <hr>
    <h2>Result of this lookup was: {{results.status|title}}</h2>
    <p>Details: {{results.message}}</p>
    <h3>Project Details</h3>
    {% if results.project_name %}
    <ul>
      <li>Project Name: {{results.project_name}}</li>
      <li>Project Description: {{results.project_description}}</li>
    </ul>
    {% endif %}
    {% if results.title %}
    <h3>Issue Details</h3>
    <ul>
      <li>Issue ID: {{results.id}}</li>
      <li>Issue Title: {{results.title}}</li>
      <li>Issue Description: {{results.description}}</li>
    </ul>
    <h3>Ticket Notes</h3>
    <ul>
      {% for note_text in results.notes_text %}
        <li>{{note_text}}</li>
      {% endfor %}
    </ul>
    {% endif %}
  {% endif %}
{% endblock %}