<!-- Extend the layout template -->
<!-- Can leave any of these as default -->
{% extends 'shared/layout.html' %}
<!-- Load static method for templates -->
{% load static %}
<!-- title block sets the main title on the page (in browser bar)-->
{% block title %}
  Anon Ticket
{% endblock %}
<!-- h3 block sets the main title -->
{% block h3 %}
  Anon Ticket
{% endblock %}
<!-- Subheader block sets the subheader -->
{% block subheader %} 
  Enter in a User Identifier Code-Phrase
{% endblock %}
<!-- block content block is where page contents go -->
{% block content %}
<!-- Explanation block -->
<div class="row">
  <div class="col-12">
    <p class="pr-5">
      If you've already created a user-identifier code-phrase, you can
      enter it below to login. Put one word in each box and do not include 
      dashes. You can use tab to navigate from one box to the next.
    </p>
  </div>
</div>
<!-- End Explanation block -->
<!-- Start rendering form -->
<form method="get" class="p-5">
<!-- Determine if there are form validation errors. If so, render them here. -->
{% if form.non_field_errors %}
<div class="row">
  <div class="col-12">
    {% for error in form.non_field_errors %}
    <div class="list-unstyled alert alert-primary" role="alert">
      {{error}}
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}
<!-- Render form -->

<div class="row">
  <div class="col-12">
    <form method="get" class="p-5">


      <ul class="bg-light p-5 flex-form">
        {{ form.as_ul }}
      </ul>
      <button type="submit" class="btn btn-lg btn-primary mr-2 mt-3 new-line">Login With This Identifier</button>
    </form>
  </div>
</div>
{% endblock %}