<!-- Extend the layout template -->
<!-- Can leave any of these as default -->
{% extends 'shared/layout.html' %}
<!-- Load static method for templates -->
{% load static %}
<!-- title block sets the main title on the page (in browser bar)-->
{% block title %}
  Anon Ticket
{% endblock %}
<!-- h3 block sets the main title -->
{% block h3 %}
  Anon Ticket
{% endblock %}
<!-- Subheader block sets the subheader -->
{% block subheader %} 
  User Landing Page for:
{% endblock %}
<!-- Content block  -->
{% block content %}
    <p>{{results.user_identifier}}</p>
  <h3>You can take the following actions:</h3>
  <!-- Generate the create_issue_url on the fly within the template. -->
    <p>
      {% url 'create-issue' user_identifier as create_url %}
      <a href="{{create_url}}">Create</a> an issue.
    </p>
{% endblock %}