<!-- Extend the layout template -->
<!-- Can leave any block as default if preferred -->
{% extends 'shared/layout.html' %}
<!-- Load static method for templates -->
{% load static %}
<!-- title block sets the main title on the page (in browser bar)-->
{% block title %}
  Anon Ticket
{% endblock %}
<!-- Extra links block for pages that have a user_identifier piped to them.-->
{% block extra_links %}
  {% include 'shared/extend_sidebar.html' %}
{% endblock %}
<!-- h3 block sets the main title -->
{% block h3 %}
  Anon Ticket
{% endblock %}

<!-- Subheader block sets the subheader -->
{% block subheader %} 
  User Landing Page for:
  <div class="p-2 pb-0">
    <p class="p-3 row bg-light">{{results.user_identifier}}</p>
  <!-- Check if user_found in results dictionary. If so, list actions already taken. -->
    {% if results.user_found %}
      <p class="small ml-5 mb-0">
        (This User Identifier has been found. Feel free to bookmark this page to return to it at a later date.)
      </p>
    {% else %}
      <p class="small ml-0">
        (No actions taken yet with this user identifier. Feel free to bookmark this
        page to return to it at a later date.)
      </p>
    {% endif %}
  </div>
{% endblock %}
<!-- End of subheader block -->

<!-- Main content block  -->
{% block content %}
<div class="row">
  <div class="col-12">
    <!-- List actions that can be taken. -->
    <h4 class="mt-1">You can take the following actions:</h4>
    <!-- Generate the action URLS on the fly within the template. -->
      <p class='mt-4 mb-0'>
        <ul>
          <li>{% url 'project-list' results.user_identifier as project_list_url %}
            <a href="{{project_list_url}}">See a list all projects</a> using this portal. Each project links 
          to a detail page with a list of issues.</li>
          <li>{% url 'issue-search' results.user_identifier as search_url %}
          <a href="{{search_url}}">Search for an issue</a> inside of a given project.</li>
          <li>{% url 'create-issue' results.user_identifier as create_url %}
          <a href="{{create_url}}">Create an issue</a> inside of a given project.</li>
          <li>You can also create a note on an issue by searching for the issue first or 
            selecting it from the project page using one of the above methods.
          </li>
        </ul>
      </p>
    </div>
  </div>

<div class="row">
  <div class="col-12 mt-3">
    <form method="post" action="/moderator/">
      {% csrf_token %}
    <h2>Pending Issues</h2>
    <!-- If there are pending issues, render them here. -->
      {% if issue_formset %}
      {{ issue_formset.management_form }}
      {% endif %}
      {% if issue_formset.forms %}
          <table>
            <thead>
              <th class="align-middle">
                Related Details
              </th>
              <th class="align-middle">
                User
              </th>
              <th class="align-middle">
                Issue Title
              </th>
              <th class="align-middle">
                Description and Moderator Comments
              </th>
              <th class="align-middle">
                Mod Actions
              </th>
            </thead>
            <tbody>
            {% for form in issue_formset %}
              {% for hidden in form.hidden_fields %}
              {{ hidden }}
              {% endfor %}
              <tr>
                <td style="width:15%">
                  <ul class="list-unstyled">
                    <li><strong>Project:</strong></li>
                    <li>{{form.instance.linked_project.short_name_with_namespace}}</li>
                    <li><strong>Created:</strong></li>
                    </li>{{form.instance.created_at|date:"d M, Y"}}
                    -{{form.instance.created_at|time:"H:i" }}</li>
                  </ul>
                </td>
                <td style="width:11%">
                  <p class="small short-height">{{form.instance.linked_user}}</p>
                </td>
                <td style="width:15%">
                  <p class="small short-height"> 
                    {{form.instance.title}}</p>
                </td>
                <td>
                  {% if form.instance.mod_comment %}
                  <p class="strong short-height">                     
                      <span class="badge badge-primary">Mod Note:</span>
                      <span class="small ml-1 short-height"><strong>{{form.instance.mod_comment}}</strong></span></p>
                  {% endif %}
                  {{form.instance.description}}
                </td>
                <td style="width: 10%">
                  <div class="mt-0">
                    <a href="{% url 'mod-update-issue' form.instance.pk %}"
                    class="btn-link mr-2">Change Issue Text</a>
                  </div>
                  <div class="mt-0">
                    <a href="{% url 'mod-update-issue' form.instance.pk %}"
                    class="btn-link mr-2" style="width: 100%">Add Comment</a>
                  </div>
                  <div class="mt-3">
                    Or Set Status:
                  </div>
                  <div class="mt-1">
                    {{form.reviewer_status}}
                  </div>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        <!-- If user was not in moderators group, issue_formset dictionary will have permission message. -->
        {% elif messages %}
          <p>{{messages.issue_message}}</p>
        <!-- If user was in moderators group, but there are no issues, display no issues message. -->
        {% else %}
        <p>No pending issues at this time.</p>
        {% endif %}
    </div>
  </div>

  <!-- List the issues the user has created. -->
<div class="row">
  <div class="col-12 mt-3">
    <h4 class="mt-4">You have created the following issues:</h4>
  </div>
</div>
<!-- If results.linked_issues, render the issues table. -->
{% if results.linked_issues %}
<div class="row">
  <div class="col-12 mt-3">
    <table>
      <thead>
        <th class="align-middle">
          Project
        </th>
        <th class="align-middle">
          Issue # / Issue Title
        </th>
        <th class="align-middle">
          Issue Status
        </th>
      </thead>
      <tbody>
        {% for issue in results.linked_issues %}
        <!-- If the issue has a gitlab.iid, it has been approved. -->
        {% if issue.gitlab_iid %}
        <tr>
          <td>
            {{issue.linked_project.short_name_with_namespace}}
          </td>
          <td>
            <!-- Generate issue-detail-view url -->
            {% url 'issue-detail-view' results.user_identifier issue.linked_project.slug issue.gitlab_iid as issue_url %}
            Issue #{{issue.gitlab_iid}}: <a href="{{issue_url}}">{{issue.title}}</a>
          </td>
          <td>
            {{ issue.get_reviewer_status_display }}
          </td>
        </tr>
        {% else %}
        <tr>
          <td>
            {{issue.linked_project.short_name_with_namespace}}
          </td>
          <td>
            <!-- Generated Pending Issue Detail View URL -->
            {% url 'pending-issue-detail-view' results.user_identifier issue.linked_project.slug issue.pk as issue_url %}
            Issue # (NA): <a href="{{issue_url}}">{{issue.title}}</a>
          </td>
          <td>
            {{ issue.get_reviewer_status_display }}
          </td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<!-- Else, render the following block -->
{% else %}
<div class="row">
  <div class="col-12 mt-3">
    <p class="small">You have not created any issues.</p>
  </div>
</div>
{% endif %}

<!-- List the notes the user has created. -->
<div class="row">
  <div class="col-12">
    <h4 class="mt-4">You have created the following notes:</h4>
      <!-- If there are notes, list them -->
        {% url 'issue-search' results.user_identifier as search_url %}
        {% url 'project-list' results.user_identifier as project_list_url%}
        <p class="small short-height">(To create a new note, <a href="{{search_url}}">
          search for the issue</a> you want to comment on, or look at the 
          <a href="{{project_list_url}}">project's detail view</a> to find an issue. 
          Notes marked with *** have not been approved by moderators 
          and therefore have not been posted to GitLab.)</p>
        {% if results.linked_notes %}
        <ul>
          {% for note in results.linked_notes %}
            <!-- if note has an gitlab_id, generate a link to the issue-detail view-->
              {% if note.gitlab_id %}
                {% url 'issue-detail-view' results.user_identifier note.linked_project.slug note.issue_iid as issue_url %}
                <li>Posted on {{note.linked_project.name_with_namespace}} > Issue # {{note.issue_iid}}: 
                  <a href="{{issue_url}}">{{note.gitlab_issue_title}}</a>: 
                  "{{note.body|truncatewords:20}}"</li>
              <!-- else (e.g., if note is not approved), list the note and generate a link to the pending-note-detail-view -->
              {% else %}
                {% url 'pending-note' results.user_identifier note.linked_project.slug note.issue_iid note.pk as note_url %}
                <li>(Pending) on {{note.linked_project.name_with_namespace}} > Issue # {{note.issue_iid}}: {{note.gitlab_issue_title}}:
                  <a href="{{note_url}}" class="mr-1">"{{note.body|capfirst|truncatewords:20}}"</a> *** </li>
              {% endif %}
          {% endfor %}
          </ul>
      </p>
        {% else %}
        <!-- Or tell the user are there are no issues -->
          <p class="small">You have not created any Notes.</p>
        {% endif %}
  </div>
  </div>
{% endblock %}