<!-- Extend the layout template -->
<!-- Can leave any of these as default -->
{% extends 'shared/layout.html' %}
<!-- Load static method for templates -->
{% load static %}
<!-- title block sets the main title on the page (in browser bar)-->
{% block title %}
  Anon Ticket
{% endblock %}
<!-- h3 block sets the main title -->
{% block h3 %}
  Anon Ticket
{% endblock %}
<!-- Subheader block sets the subheader -->
{% block subheader %} 
  User Landing Page for:
  <div class="p-2">
    <p class="p-3 row bg-light">{{results.user_identifier}}</p>
  </div>
  <!-- Check if user_found in results dictionary. If so, list actions already taken. -->
  {% if results.user_found %}
  <p>
    This User Identifier has been found.
  </p>
  <p>
    You have created the following issues:
    {% for issue in results.linked_issues %}
      {{issue.issue_title}}
    {% endfor %}
  </p>
  {% else %}
  <p>
    No actions taken yet with this user identifier.
  </p>
  {% endif %}

{% endblock %}
<!-- Content block  -->
{% block content %}
<!-- List actions that can be taken. -->
  <h4>You can take the following actions:</h4>
  <!-- Generate the create_issue_url on the fly within the template. -->
    <p>
      {% url 'create-issue' results.user_identifier as create_url %}
      <a href="{{create_url}}">Create</a> an issue.
    </p>
{% endblock %}