# Python
*.pyc
*~
__pycache__

# macOS
._*
.DS_Store
.fseventsd
.Spotlight-V100

# .env should be added to gitnore (uncomment out below) before launching.
# .env files are currently used by python-decouple for security.
# # Env
# .env
myvenv/
venv/

# Windows
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Visual Studio
.vscode/
.history/
*.code-workspace

# Python-Coverage
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover

# Personal Ignore


