# Python
*.pyc
*~
__pycache__

# macOS
._*
.DS_Store
.fseventsd
.Spotlight-V100

# This should be turned on before launching.
# # Env
# .env
myvenv/
venv/

# Windows
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Visual Studio
.vscode/
.history/
*.code-workspace